<mat-card *ngIf="product.title" style="width: 250px">
  <mat-card-header>
    <img mat-card-avatar *ngIf="product.imageUrl" [src]="product.imageUrl" alt="{{product.title}}">
    <mat-card-title>{{product.title}}</mat-card-title>
    <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="product.imageUrl" [src]="product.imageUrl" width="250" height="250" alt="{{product.title}}">
  <mat-card-content style="text-align: center">
    <p>Opis: {{product.description}}</p>
  </mat-card-content>
  <mat-card-actions style="display: flex; flex-direction: row; justify-content: space-between; align-items: baseline">
    <button mat-button *ngIf="showActions">Do koszyka</button>
    <p>{{product.price | number:'.2-2'}} zł</p>
  </mat-card-actions>
</mat-card>
