<nav style="display: flex; flex-direction: row; justify-content: space-between; background-color: gray ">
  <div routerLink="/">Fake Pizzeria</div>
  <div><a routerLink="/shopping-cart">Zakupy</a></div>
  <ng-template #anonymousUser>
    <div><a routerLink="/login">Zaloguj się</a></div>
  </ng-template>
  <div *ngIf="auth.user$ | async as user; else anonymousUser">{{ user.displayName }}
    <div>
      <div><a routerLink="/my/orders">Moje Zamówienia</a></div>
      <div><a routerLink="/admin/orders">Zarządzaj Zamówieniami</a></div>
      <div><a routerLink="/admin/products">Zarządzaj Produktami</a></div>
      <div style="cursor: pointer"><a (click)="logout()">Wyloguj się</a></div>
    </div>
  </div>
</nav>
