<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" style="position: relative!important; z-index: 1!important">
  <div class="navbar-brand mr-auto" routerLink="/">Fake Pizzeria</div>
  <button mat-flat-button routerLink="/products" color="primary" class="mr-2">Menu</button>
  <button *ngIf="shoppingCartItemCount === 0" mat-flat-button disabled class="mr-2">Koszyk</button>
  <button *ngIf="shoppingCartItemCount > 0" mat-flat-button matBadge="{{(shoppingCartItemCount === 0) ? '' : shoppingCartItemCount}}" matBadgePosition="below before" matBadgeColor="accent" routerLink="/shopping-cart" color="primary" class="mr-2 ml-2">Koszyk</button>
  <ng-template #anonymousUser>
    <button mat-flat-button routerLink="/login" color="primary">Zaloguj się</button>
  </ng-template>
  <div *ngIf="appUser else anonymousUser">
    <button mat-flat-button [matMenuTriggerFor]="menu" color="primary" style="position: relative!important; z-index: 10!important">{{ appUser.name }}</button>
    <mat-menu #menu="matMenu" class="mt-2">
      <button mat-menu-item routerLink="/my/orders">Moje Zamówienia</button>
      <ng-container *ngIf="appUser.isAdmin">
        <button mat-menu-item routerLink="/admin/orders">Zarządzaj Zamówieniami</button>
        <button mat-menu-item routerLink="/admin/products">Zarządzaj Produktami</button>
      </ng-container>
      <button mat-menu-item (click)="logout()">Wyloguj się</button>
    </mat-menu>
  </div>
</nav>
